ayce-gateway-configuration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="matrix">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="unbounded" name="led">
          <xsd:complexType>
            <xsd:attribute name="x" type="xsd:int" />
            <xsd:attribute name="y" type="xsd:int" />
            <xsd:attribute name="universe" type="xsd:int" />
            <xsd:attribute name="address" type="xsd:int" />
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="width" type="xsd:int" />
      <xsd:attribute name="height" type="xsd:int" />
    </xsd:complexType>
  </xsd:element>
</xsd:schema>